<div class="container"></div>

<div class="container">
  <div class="row">

    {{> subhead}}
    {{> subnav}}

    <div class="col-md-10 col-md-offset-1">
      {{#each books}}
      <div class="row centered">
        <div class="col-md-4">
          <img class="img-responsive" src="{{ this.pic_url }}">
        </div>
        <div class="col-md-6 col-md-offset-1">
          <h3><a href="/books/{{ this.id }}">{{ this.title }}</a></h3
          <h4>{{ this.genre }}</h4>
          <p>{{ this.description }}</p><br>
          <strong>Authors:</strong>
          <ol>
            <li><a href="/authors/1">Ann&nbsp;Ravenscroft</a></li>
            <li><a href="/authors/2">Anna&nbsp;Ravenscroft</a></li>
          </ol>

          {{> bookeditdelete }}
        </div>
      </div>
      <br><br>
      {{/each}}
    </div>
  </div>
</div>
