<div class="container"></div>

<div class="container">
  <div class="row">

    {{> subhead}}
    {{> subnav}}

    <div class="col-sm-10 col-sm-offset-2">
      <div class="row">
        <div class="col-md-2">
          <img class="img-responsive author-image" src="{{ author.pic_url }}">
        </div>
        <div class="col-md-6 col-md-offset-1">
          <h3>{{ author.first_name}} {{ author.last_name}}</h3>
          <p>{{ author.biography }}</p>
          <p><strong>Books:</strong></p>
          <ol>
            {{#each book}}
            <li><a href="/books/{{this.id}}">{{this.title}}</a></li>
            {{/each}}
          </ol>
          <div class="btn-group-sm" role="group">
            <a href="/authors/{{ author.id }}/edit"
            class="btn btn-sm btn-success"
            type="submit"
            name="edit">Edit</a>

            <form method="POST" action="/authors/{{ author.id }}?_method=DELETE">
              <input
              class="btn btn-sm btn-danger"
              type="submit"
              name="delete"
              value="Delete">
            </form>
          </div>
        </div>
      </div>
      <br><br>
    </div>
  </div>
</div>
